<!DOCTYPE html>
<html>
<body>

<h2>3 field form</h2>

<form action="/formdata" method = "POST"> 
  Text Field 1:<br>
  <input type="text" name="tf1" value="">
  <br><br>
  Text Field 2:<br>
  <input type="text" name="tf2" value="">
  <br><br>
  Text Field 3:<br>
  <input type="text" name="tf3" value="">
  <br><br>
  <input type="submit">
</form> 
<br><br>
<a href="http://localhost:8080/hello">hello world</a>


</body>
</html>