
 <meta charset="UTF-8">
 <html>
     <head>
     </head>
     <body>
         <h1>text from the fields</h1>
         <p>first field text: <%= value1 %></p>
         <p>second field text: <%= value2 %></p>
         <p>third field text: <%= value3 %></p>
     </body>
 </html>