body{
    background-color:#000;
    color:white;
  }
  #demo {
    width: 692px;
    height: 60px;	
    background-color: #333;
    padding: 8px;
  }
  #logo {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo_black_1.jpg)no-repeat;
  }