@font-face {
    font-family: myFont;
    src: url(fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: myFontBold;
    src: url(fonts/Quicksand-Bold.ttf);
}

.header {
    font-family: MyFontBold;
    font-size: 30px;
    grid-area: header;
}

.header img {
    width: 600px;
    border-radius: 20px;
    transform: rotate(3deg);
    margin-top: 50px;
    margin-bottom: 5px;
    box-shadow: 10px 10px 20px 0 rgb(75, 75, 75);
}

body {
    font-family: MyFont;
}

/** I just don't like how it looks with over the 800 px as a widescreen mode.
hope you don't mind it. */
@media all and (min-width: 1300px) {
    body {

        display: grid;

        grid-template-areas:
            'header header header'
            'gallery main main'
            'gallery main main '
            'footer footer footer';
    }
}

@media all and (max-width: 1299px) {

    display: grid;
    grid-template-areas: 'header'
        'gallery'
        'footer';
}

body div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.main img {
    max-height: 350px;
    max-width: 350px;
    float: right;
}

.main {
    grid-area: main;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    margin: 10px;
    column-width: 450px;
}

.gallery {
    grid-area: gallery;
    margin: 20px;


}

.gallery {
    text-align: center;
}

.gallery figure img {
    max-height: 250px;

}

.gallery figure {
    margin-bottom: 100px;
}


.footer {
    grid-area: footer;
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: aqua;
}

aside {
    float: left;
    font-size: 1.2em;
    font-family: myFontBold;
    margin: 10px;
    padding: 10px;
}