@font-face {
    font-family: myFont;
    src: url(fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: myFontBold;
    src: url(fonts/Quicksand-Bold.ttf);
}

.header {
    font-family: MyFontBold;
    font-size: 30px;
    flex: 1 100%;
}

.header img {
    width: 600px;
    border-radius: 20px;
    transform: rotate(3deg);
    margin-top: 50px;
    margin-bottom: 5px;
    box-shadow: 10px 10px 20px 0 rgb(75, 75, 75);
}

body {
    font-family: MyFont;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

body div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.main img {
    max-height: 350px;
    max-width: 350px;
    float: right;
}

.main {
    flex: 1 100%;
    order: 1;
    margin: 10px;
    column-width: 450px;
    
}

.gallery {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 100%;
    order: 2;
    margin: 20px;
    text-align: center;

}

@media all and (min-width: 1299px) {
    
    .main {
        flex: 1 1 0;
        order: 2;

    }

    .gallery {
        flex: 0 0 0;
        order: 1;
       
    }
}

.gallery figure img {
    max-height: 250px;
}

.gallery figure {
    margin-bottom: 100px;
}

.footer {
    flex: 1 100%;
    order: 3;
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: aqua;
}

aside {
    float: left;
    font-size: 1.2em;
    font-family: myFontBold;
    margin: 10px;
    padding: 10px;
}
