table {
    width: 600px;
    border-collapse: collapse;
    
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
}