h1,
h2,
p {
    font-family: verdana;
    font-size: 20px;
}

mark {
    background-color: rgb(0, 255, 255);
    color: black;
}

table,
th,
td {
    border: 4px solid pink;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

th {
    text-align: left;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

ul {
    list-style-type: square;
}
