body {
    background-color: rgb(255, 245, 255);
}

form {
    font-family: monospace;
    font-size: 18px;
    
}

label[for=mandatory] {
    color: red;
}

label[for=non_mandatory]{
    color: darkgrey;
}
