* {
    font-family: cursive;
    
}

body {
    background-color: antiquewhite;
}

.el1, .el2 {
    width: 40%;
    padding: 40px;
    
    
    
}

.el1 {
    
    float: left;
}

.el1 > img {
    float: left;
    padding: 20px
}

.el2 > img {
    float: right;
    padding: 20px;
    
}

.el2 {
    float: right;
    
}

.to_clear {
    clear: both;
}

.el3 {
    padding: 30px;
}
