body {
    background-color: rgb(255,245,245);
}

.banner {
    height: 200px;
    width: 60%;
    margin: 0 auto; 
    background-color: rgb(255,255,255);
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 30px;
    border: 5px solid rgb(255,235,255);
}

.boxed {
    border: 5px solid rgb(255,235,255);
    padding: 50px;
    background-image: url(am.jpg);
    background-position: 100% 100%;
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-color: white;
    font-family: verdana;
    color: rgb(0,0,0);
    width: 80%;
    margin: 0 auto; 
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    
    
}

h1 {
    /*margin-left: 10%;*/
    padding-top: 50px;
    font-size: 22px;
    text-decoration: underline solid lightpink;
}

.article {
   
    background-color: azure;
    border: 5px solid rgb(255,235,255);
    width: 60%;
    margin: auto;
    padding: 30px;
}

.article > p {
    /*margin-left: 15%;*/
    padding: auto;
    margin: auto;
}

.article > p > a:hover {
    color: red;
}